    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        background-color: #f8f9fa;
        color: #333;
    }

    h2 {
        font-weight: 300;
    }

    .table {
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
    }

    .table thead {
        background-color: #333;
        color: #fff;
    }

    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
    }

    .btn {
        border-radius: 30px;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
    }

    .btn-secondary {
        background-color: #6c757d;
        border: none;
    }

    .btn-info {
        background-color: #17a2b8;
        border: none;
    }

    .btn-danger {
        background-color: #dc3545;
        border: none;
    }

    .flip-container {
        perspective: 1000px;
    }

    .flip-container,
    .front,
    .back {
        width: 100%;
        height: 300px;
        border-radius: 20px;
    }

    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }

    .flip-container:hover .flipper {
        transform: rotateY(180deg);
    }

    .front,
    .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .front {
        z-index: 2;
        transform: rotateY(0deg);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .back {
        transform: rotateY(180deg);
        background-color: #ffffff;
        padding: 20px;
        box-sizing: border-box;
    }

    .court-item img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        border-radius: 20px;
    }

    .back h3 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333333;
    }

    .back p {
        color: #666666;
    }
